
@model WSBFrontEnd.Models.Values
@{ ViewData["Title"] = "Home Page"; }


<style>
    .button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 10px 22px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
    }

    .button1 {
        background-color: white;
        color: black;
        border: 2px solid #4CAF50;
    }

        .button1:hover {
            background-color: #4CAF50;
            color: white;
        }

    .button2 {
        background-color: white;
        color: black;
        border: 2px solid #008CBA;
    }

        .button2:hover {
            background-color: #008CBA;
            color: white;
        }
</style>




<div class="text-center">
    <h1 class="display-6">Exchange Rate</h1>
    <div>

    </div>
    <p>Currency converter - Base ZAR to other currencies.</p>
@using (Html.BeginForm("CurrencyConverter", "Home", FormMethod.Post))
{

    <div class="form-group row">

    </div>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <table>
        <tr>
            <td style="margin-left:initial"><b>Amount</b></td>
            <td></td>
            <td style="margin-left:initial"><b>From</b></td>
            <td></td>
            <td style="margin-left:initial"><b>To</b></td>
        </tr>
        <tr>
            <td>
                @Html.TextBoxFor(m => m.rand, new { placeholder = "1.00", @class = "form-control", style = "color:red" })
                @Html.ValidationMessageFor(m => m.rand, "", new { @class = "text-danger" })
            </td>
            <td>&nbsp;&nbsp;</td>
            <td>@Html.TextBoxFor(m => m.zar, new { placeholder = "ZAR - South African Rand", @class = "form-control", style = "color:gray", @readonly = "readonly" })</td>
            <td>&nbsp;->&nbsp;</td>
            <td>@Html.DropDownList("currencyDropDownList", new SelectList(new List<string>(), "value", "name"), new { @id = "currencyDropDownList", @class = "form-control" })</td>

        </tr>
        <tr>
            <td></td>
            <td>&nbsp;&nbsp;</td>
            <td></td>
            <td>&nbsp;&nbsp;</td>
           

        </tr>


    </table>
    <br />
    <table>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td style="margin-left: initial; background-color: #008CBA;">
                <button type="submit" value="Convert" class="button button2">Convert</button>
            </td>
            <td></td>
            <td></td>
           
        </tr>
    </table>
    <br />
    <table>
        <tr>
            <td style="margin-left:initial">
                @Html.LabelFor(m => m.from, htmlAttributes: new { @class = "control-label col-md-2" })


                &nbsp;&nbsp;  South African Rand equal to :
            <td>
                <input type="text" class="form-control" value="@ViewBag.Result" />



            </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                <label id="OtherCurrencyValue"></label> <label id="currencyId"></label>
            </td>
        </tr>
    </table>

    <div>
        <h6>We use the mid-market rate for our Converter.</h6>
    </div>


}
</div>

@section Scripts {
    <script src="~/js/pooling.js"></script>
}